<form action="#" class="product">
  <div>
    User Id: <input type="text" name="name" value="{{userId}}">
  </div>
  <div>
    Type: <input type="text" name="type" value="{{type}}">
  </div>
  <button>Submit</button>
</form>